.iframecontainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.tag {
  border-radius: 4px;
  padding: 5px 10px;
  font-family: monospace;
}

/* Universal */
body {
  background-color: #D5E5FB;
  /*justify-content: center;*/
}

pre, code {
  background-color: #3B3C43;
  color: #E7DBDA;
}

.author-name {
  border-radius: 4px;
  padding: 5px 10px;
  font-family: monospace;
}

img {
    height: auto;
}

header h1 {
    text-align: center;
}

h3 {
    font-size: larger;
}

code {
    border-radius: 5px;
    padding: 1pt;
}

footer {
    text-align: center;
    clear: both;
}

#content {
}

/* For header.html */
#nav-list {
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: auto;
    list-style-type: none;
    display: inline-flex;
    color: black;
    justify-content: space-evenly;
}

.nav-button {
    color: black;
    padding: 0px;
    text-decoration: none;
}
li:first-child {
    padding: 0px;
}

#artlist li{
    list-style-type: none;
}

/* For normal screens */
@media screen and (min-width: 769px) {
    img {
      max-width: 75%
    }
    #nav-toggle-mobile {
        display: none;
    }
    footer {
        padding-left: 25%;
    }
    #nav-list {
      display: flex;
    }
}

/* For super wide screens */
@media screen and (min-width: 1700px) {
    img {
      max-width: 50%;
    }
    #content {
    }
    #nav-list {
      display: flex;
    }
}

#nav-toggle-mobile {
  display: none;
}

#nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: white;
  background-size: 100% 100%;
  width: 100%
}

.nav-li {
  width: 100%;
  display: inline-block;
}

/* For mobile */
@media screen and (max-width: 768px) {
    img {
      max-width: 100%;
    }
    #content {
        margin: 10%;
    }
    #nav-list {
      display: block;
    }
}

/* For author.html */
#avatar {
    border-radius: 8px;
    max-width: 200px;
    height: auto;
}

/* For meta.html */
.meta {
    text-align: center;
    clear: both;
}
#meta-avatar {
    border-radius: 8px;
    max-width: 60px;
    height: auto;
}
p {
    font-size: 16pt;
    font-family: sans-serif;
}

body {
    font-size: 14pt;
}

nav {
    font-size: 10pt;
}

  /* For Content Warnings */
label {
    display: none;
    font-size: 22px;
}

#search {
  background-color: white;
}

#cw:checked + label {
    display: block;
}
