{{ define "main" }}
<style>
img {
  max-width: 500px;
}
</style>
<h1>{{ .Title }}</h1>
{{ .Content }}
<ul id="artlist">
{{ range .Pages }}
    <li data-tags="{{.Params.Tags}}">
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    {{ partial "metadata.html" . }}
    {{ if .Params.cws }}
    <a href="{{ .RelPermalink }}">
    <p>Content Warning: {{ range $i, $e := .Params.cws -}}{{- if $i -}}, {{ end -}}{{ $e | humanize }}{{- end -}}</p>
    </a>
    {{ else }}
    <br><br>
    <a href="{{ .RelPermalink }}">
      {{ $regex := `<img\s*src="(.+?)">` }}
      {{ $matches := findRE $regex .Content 1 }}
        {{ range $matches }}
          {{ . | safeHTML }}
      {{ end }}
      <p>{{ .Summary }}</p>
    </a>
    {{ end }}
    <hr>
    </li>
{{ end }}
</ul>
{{ end }}
