{{ define "main" }}
<div style="background-color: #5997F0">
  <h1 style="font-size: 20px;"> {{ .Title }}</h1>
</div>
<hr>
{{ partial "metadata.html" . }}
<br><br>
{{ if $.Params.cws }}
<p>Content Warning: {{ range $i, $e := .Params.cws -}}{{- if $i -}}, {{ end -}}{{ $e | humanize }}
    {{- end -}}</p>
<input type="checkbox" id="cw"> By clicking this checkbox, I consent to reading this article.</input>
<label for="cw" onclick="return false;">
    {{ .Content }}
</label>
{{ else }}
{{ .Content }}
{{ end }}
{{ end }}
