{{ if .PublishDate }}
{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
<p><time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time></p>
{{ end }}
{{ with .Params.tags }}
{{ range . }}
{{ $href := print (absURL "tags/") (urlize .) }}
<a class="tag" href="{{ $href }}">{{ . }}</a>
{{ end }}
{{ end }}
